
body{
    background: grey;
}

#frm{
    border: solid grey 2px;
    width: 20%;
    border-radius: 10px;
    margin: 100px auto;
    background: whitesmoke;
    padding: 3%;
}

#btn{
    color: black;
    background: grey;
    padding: 5px;
    margin-left:69% ;
}